/* main line tags*/

body{
    background-image: url(../images/pinkBack.jpg);
    font-family: Tahoma, "Geneva", sans-serif;
}

nav {
    background-color: black;
    margin-top: none;
    padding-top: none;
}

nav ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    
}

nav li {
    display: inline-block;
    padding-right: 10px;
    
}

a:link {
    color: snow;
}

a:visited, a:active {
    color: snow
}

a:hover {
    color: blueviolet
}

p{
    text-align: center;
    
}

/* class line tags*/
.response {
    max-width: 100%;
    height: auto;
  }

/* id line tags*/  
#container {
    background-color:rgb(236, 236, 188);
    width: 70%;
    margin: 0 auto;
    border: 3px, solid black;
    outline-style: solid;
    outline-color: black;
}

#foot{
    border-top-style: solid;
    background-color: black;
    height: 60px;
    text-align: center;
}

#name {
    text-align: center;
}

#banDiv {
    background-color: black;
    border-bottom: none;
}

#banner {
    background-color: wheat;
}
#bannerImg {
    height: 250px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 100px;
    height: 60px;
    border-color: black;
    background-color: rgb(250, 246, 246);
    float: right;
    
}


#mainPic {
     
    width: 350px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

#mainBorder {
    background-image: url(images/pinkBack.jpg);
    width: 400px;
    height: 510px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

#imgstyle {
    max-height: 437px;
    max-width: 300px;
    border: solid;
    border-width: 10px;
    border-color: #F11270;
    
   
    
    
}



.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    
  }
  
 
  .column {
    flex: 50%;
    padding: 0 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    padding-top: 15px;
  }
  
 
  